<!-- this is the INDIVIDUAL blog post page (show) -->
<% content_for :head do %>
  <meta property="og:title" content="<%= @post.title %>" />
  <meta property="og:site_name" content="<%= t('emoji_party') %>"/>
  <meta property="og:url" content='<%= "http://www.emojiparty.net#{refinery.blog_post_path(@post)}" %>' />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="<%= raw(Rails::Html::FullSanitizer.new.sanitize(blog_post_teaser(@post))) %>">
  <meta property="og:image" content="<%= generate_ogimage_content(@post) %>">
  <meta name="description" content="<%= raw(Rails::Html::FullSanitizer.new.sanitize(blog_post_teaser(@post))) %>">
  <meta property="article:author" content="http://www.emojiparty.net/blog?author=<%= @post.author.username %>" />
  <meta property="article:publisher" content="http://www.emojiparty.net" />
<% end %>

<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<% flash.each do |key, value| %>
 <div id='flash' class="flash flash_<%= key %>">
   <%= value %>
 </div>
<% end %>

<div id="content_container_blog_post">
  <article id="blog_post" class="block">
    <header>
      <h1><%= @post.title %></h1>
      <section class='details'>
          <time datetime="<%=l @post.published_at.to_date, :format => :default %>" class='posted_at'>
            <%= l(@post.published_at.to_date, :format => :long) %>
          </time>

          <span class="share_tools">
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="emoji_party">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

            <div class="fb-share-button" data-href="<%= "http://www.emojiparty.net#{refinery.blog_post_path(@post)}" %>" data-layout="button_count"></div>
          </span>

        <% if @post.source_url.present? %>
          <div class='blog_source'>
            <%= "#{t('source', :scope => 'refinery.blog.posts.show')}: " %>
            <%= link_to (@post.source_url_title.blank? ? @post.source_url : @post.source_url_title), @post.source_url %>
          </div>
        <% end %>
        <% if (categories = @post.categories).any? %>
          <aside class='filled_in'>
            <%= t('filled_in', :scope => 'refinery.blog.posts.show') %>
            <% categories.each_with_index do |category, index| %>
              <%= link_to category.title, refinery.blog_category_path(category) -%><%= ',' if index < ((categories.length) - 1) %>
            <% end %>
          </aside>
        <% end %>
      </section>
    </header>

    <section class="blog_content">
      <% if @post.author %>
      <div class="author_info author_info--floatLeft">
        <%= render "/author_info", author: @post.author %>
      </div>
      <% end %>
      <%= @post.body.html_safe %>
    </section>

    <% if Refinery::Blog::Post::ShareThis.enabled? %>
      <span class="st_sharethis" displayText="ShareThis"></span>
    <% end %>

    <% if (tags = @post.tags).any? %>
      <aside class='tagged'>
        <% tags.each do |tag| %>
          <%= link_to "##{tag}", refinery.blog_tagged_posts_path(tag.id, tag.name.parameterize), class: 'post_tag' %>
        <% end %>
      </aside>
    <% end %>
  </article>

  <%= render '/refinery/draft_page_message' unless @post.nil? or @post.live? -%>
  <%= render 'nav' if next_or_previous?(@post) %>
</div>
