<% content_for :head do %>
  <meta property="og:title" content="<%= t('showing_posts_tagged', tag: @tag_name) %>" />
  <meta property="og:site_name" content="<%= t('emoji_party') %>"/>
  <meta property="og:url" content='<%= "http://www.emojiparty.net#{refinery.blog_tagged_posts_path(@tag.id, @tag_name.parameterize)}" %>' />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="<%= t('site_description') %>" />
  <meta name="description" content="<%= t('site_description') %>" />
<% end %>

<% content_for :body do %>
  <h2 class="tag_header"><%= t('showing_posts_tagged', tag: @tag_name) %></h2>

  <% if @posts.any? %>
    <section id="blog_posts" class="block--inline">
      <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
      <%= will_paginate @posts %>
    </section>
  <% else %>
    <p><%= t('.no_blog_articles_yet') %></p>
  <% end %>

<%= render "/author_sidebar" %>

<% end %>

<%= render "/refinery/content_page" %>
<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>