<aside class="author_sidebar block block--inline">
  <h3><%= t('sidebar_title') %></h3>
  <% authors = Refinery::User.where(username: ['siena', 'stella']).sort { |a, b| a.username <=> b.username } %>

  <% for author in authors %>
    <div class="author_info">
      <%= render "/author_info", author: author %>
    </div>
  <% end %>
  <div><%= t('follow_emoji_party') %> <%= link_to(t('emoji_party_twitter'), "https://www.twitter.com/emoji_party", target: "_blank") %></div>
  <div><%= link_to(t('rss_feed'), refinery.blog_rss_feed_path() ) %></div>
</aside>